# Load Libraries & Data

In [ ]:
!wget https://www.spataru.at/students/course_files/week2/adult_rev2.csv

--2023-12-04 11:04:09--  https://www.spataru.at/students/course_files/week2/adult_rev2.csv
Resolving www.spataru.at (www.spataru.at)... 81.19.159.92
Connecting to www.spataru.at (www.spataru.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3595716 (3.4M) [text/csv]
Saving to: ‘adult_rev2.csv.1’

adult_rev2.csv.1    100%[===================>]   3.43M  3.74MB/s    in 0.9s

2023-12-04 11:04:11 (3.74 MB/s) - ‘adult_rev2.csv.1’ saved [3595716/3595716]

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap

**Load the data in a variable named df**

Tip: pd.read_csv()




The file path is "adult_rev2.csv"

In [ ]:
df = pd.read_csv("adult_rev2.csv")

In [ ]:
df

,social_number,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,717703,90,NaN,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,931778,82,Private,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,176143,66,NaN,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,953541,54,Private,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,523037,41,Private,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32756,784815,25,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,<=50K
32757,611569,81,Self-emp-inc,10th,6,Married-civ-spouse,Exec-managerial,Wife,White,Female,2936,0,28,United-States,<=50K
32758,967042,55,Private,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,29,United-States,<=50K
32759,991969,47,Private,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,85,United-States,>50K
32760,868456,19,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K

**How many rows and columns does the data have?**

df.shape > (rows,columns)

In [ ]:
df.shape

(32761, 15)

**Show the first 5 rows of the data**

In [ ]:
df.tail(1)

,social_number,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
32760,868456,19,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K

# Data Cleaning

**Drop the duplicates in the data**

Note: replace the current df (dataframe) with the clean df

In [ ]:
df = df.drop_duplicates()

**How many rows are left?**

In [ ]:
df.shape

(32589, 15)

**How many values are there in missing in the column workclass?**

In [ ]:
df.workclass.value_counts()

Private             22714
Self-emp-not-inc     2544
Local-gov            2094
State-gov            1299
Self-emp-inc         1119
Federal-gov           961
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [ ]:
df.workclass.isna().sum()

1837

**Drop all missing values**

Note: replace the current df (dataframe) with the clean df

In [ ]:
df = df.dropna()

**How many rows are left?**

In [ ]:
df.shape

(30189, 15)

**Is the income column inconsistent? Then fix it**

In [ ]:
df.income.value_counts()

<=50K            21521
>50K              5871
less than 50k     1144
more than 50k      923
over 50k           730
Name: income, dtype: int64

In [ ]:
df.loc[df.income == "less than 50k", "income" ] = "<=50K"

In [ ]:
df.loc[df.income == "more than 50k", "income" ] = ">50K"

In [ ]:
df.loc[df.income == "over 50k", "income" ] = ">50K"

In [ ]:
df.income.value_counts()

<=50K    22665
>50K      7524
Name: income, dtype: int64

**Drop social number. How many column are there left?**

Note: Replace the old dataframe with the new clean one

In [ ]:
df = df.drop("social_number", axis=1)
# df.drop(columns="social_number")

# Exploratory Data Analysis

## Univariate

**Describe Age**

In [ ]:
df.age.describe()

count    30189.000000
mean        38.441949
std         13.135234
min         17.000000
25%         28.000000
50%         37.000000
75%         47.000000
max         90.000000
Name: age, dtype: float64

In [ ]:
df.age.mean()

38.4419490542913

In [ ]:
df.age.min()

17

In [ ]:
df.age.median()

37.0

**Determine the mean of the column "hours.per.week"**

In [ ]:
df.hours_per_week.mean()

40.93143197853523

**What is the diference between mean and median on capital gain?**

In [ ]:
df.capital_gain.mean() - df.capital_gain.median()

1092.778859849614

**How many unique workclasses?**

**How many different types of education are there?**

**How many people are divorced?**

**Histogram Age**

**Create a countplot for martial status**

## Bivariate Analysis

**How many Salesperson make a capital gain of over 80000?**

**How many rows have a capital loss and capital gain bigger than 0?**

**Answer: 1**

**Create a feature which combines capital_loss and capital_gain**

**What is the mean capital?**

**What is the median capital?**

**How many people have a capital of 0?**

**What is the percentage of people which make a capital gain of over 10000?**

**What is the occupation of the biggest capital loss?** Q

Tip: Use min() or max()

**What is the ratio between <=50K income and >50K?**

**How many people with a income >50K have a
capital loss?**

**How manydivorced people with a income >50K have a capital gain?**

**Do a scatter plot between age and capital**

**This look unreadable. Calculate the average capital by age**

**Calculate the correlation on the whole dataframe**

**Do men make more money than women?**