# Campus02 - Python Essentials

In [ ]:
# Demonstrate list, dict, filtering, for loops, if statements, type conversion.

# Level 0 - Data Structures & Algorithms 101

## Exercise 1: Cleaning String Data
In this exercise, you will create a function `clean_string` that takes a string and returns a clean string with the following transformations:
- Strip leading and trailing whitespaces.
- Replace multiple spaces with a single space.
- Convert to lowercase.

In [ ]:
def clean_string(text):
    # Your code here
    pass

In [ ]:
assert clean_string('  Hello   World!  ') == 'hello world!', 'Test case failed!'
print('Test case passed!')

## Exercise 2: Removing Items from a List
Write a function `remove_values` that takes a list and a value to be removed from that list. It should return a new list with the value removed.

In [ ]:
def remove_values(data_list, value_to_remove):
    # Your code here
    pass

In [ ]:
assert remove_values(['a', 'b', 'c', 'b', 'd'], 'b') == ['a', 'c', 'd'], 'Test case failed!'
print('Test case passed!')

## Exercise 3: Handling Missing Data in Dictionaries
Write a function `fill_missing` that takes a dictionary and a list of expected keys. It should add missing keys to the dictionary with a value of `None`.

In [ ]:
def fill_missing(data_dict, keys):
    # Your code here
    pass

In [ ]:
d = {'a': 1, 'b': 2}
assert fill_missing(d, ['a', 'b', 'c', 'd']) == {'a': 1, 'b': 2, 'c': None, 'd': None}, 'Test case failed!'
print('Test case passed!')

## Exercise 4: Remove Duplicate Items from a List

Create a function remove_duplicates that takes a list and returns a new list with duplicate items removed while preserving the original order.

In [ ]:
def remove_duplicates(items):
    # Your code here
    pass

In [ ]:
# Test Cases
assert remove_duplicates([1, 2, 2, 3, 4, 4, 5]) == [1, 2, 3, 4, 5], 'Test case 1 failed!'
assert remove_duplicates(['apple', 'banana', 'apple', 'cherry']) == ['apple', 'banana', 'cherry'], 'Test case 2 failed!'
print('All test cases passed!')

## Exercise 5: Data Type Conversion in Arrays
Create a function `convert_types` that takes a list of strings and converts them to a specified data type (e.g., int or float). Handle errors if the conversion is not possible.

In [ ]:
def convert_types(string_list, data_type):
    # Your code here
    pass

In [ ]:
assert convert_types(['1', '2', '3'], int) == [1, 2, 3], 'Test case failed!'
print('Test case passed!')

## Exercise 6: Cleaning and Parsing Complex Strings
Write a function `parse_data` that takes a list of strings where each string contains data points separated by a comma. The function should split each string into a list of data points and return a list of lists.

In [ ]:
def parse_data(data_strings):
    # Your code here
    pass

## Exercise 7: Summing Even Numbers
Write a function `sum_even_numbers` that takes a list of integers and returns the sum of all even numbers. Use a `for` loop to iterate through the list.

In [ ]:
def sum_even_numbers(numbers):
    # Your code here
    pass

In [ ]:
assert sum_even_numbers([1, 2, 3, 4, 5]) == 6, 'Test case 1 failed!'
assert sum_even_numbers([7, 9]) == 0, 'Test case 2 failed!'
print('All test cases passed!')

## Exercise 8: Counting Item Frequencies
Write a function `count_occurrences` that takes a list of strings and returns a dictionary mapping each unique string to the number of times it appears. Use a `for` loop and dictionary updates.

In [ ]:
def count_occurrences(items):
    # Your code here
    pass

In [ ]:
assert count_occurrences(['apple', 'banana', 'apple', 'cherry']) == {'apple': 2, 'banana': 1, 'cherry': 1}, 'Test case 1 failed!'
assert count_occurrences([]) == {}, 'Test case 2 failed!'
print('All test cases passed!')

## Exercise 9: Flatten a Nested List
Write a function `flatten_once` that takes a list of lists (one level deep) and returns a single list containing all the items in order. Use nested `for` loops to build the result.

In [ ]:
def flatten_once(nested_list):
    # Your code here
    pass

In [ ]:
assert flatten_once([[1, 2], [3, 4], [5]]) == [1, 2, 3, 4, 5], 'Test case 1 failed!'
assert flatten_once([['a'], ['b', 'c']]) == ['a', 'b', 'c'], 'Test case 2 failed!'
print('All test cases passed!')

## Exercise 10: Pair Lists into a Dictionary
Write a function `pair_lists` that takes two lists, `keys` and `values`, and returns a dictionary that maps each key to the corresponding value. Stop pairing when you reach the end of the shorter list. Use a `for` loop with `range` to build the dictionary.

In [ ]:
def pair_lists(keys, values):
    # Your code here
    pass

In [ ]:
assert pair_lists(['id', 'name', 'age'], [101, 'Alice', 30]) == {'id': 101, 'name': 'Alice', 'age': 30}, 'Test case 1 failed!'
assert pair_lists(['x', 'y'], [1]) == {'x': 1}, 'Test case 2 failed!'
print('All test cases passed!')

In [ ]:
assert parse_data(['1,a', '2,b', '3,c']) == [['1', 'a'], ['2', 'b'], ['3', 'c']], 'Test case failed!'
print('Test case passed!')

# Level 1 - Typical Data Science Operations

## Exercise 1: Frequency Analysis
Write a function named `word_frequency` that takes a string as input and returns a dictionary with each word as a key and its frequency as the value.

In [ ]:
def word_frequency(text):
    # Your code here
    pass

In [ ]:
print(word_frequency("apple banana apple strawberry banana apple")) # Should return {'apple': 3, 'banana': 2, 'strawberry': 1}

## Exercise 2: Nested Data Handling

Write a function named add_to_cart that takes a shopping cart (a nested dictionary), a category, a product name, a quantity, and a price, and adds this information to the cart.

In [ ]:
def add_to_cart(cart, category, product, quantity, price):
    # Your code here
    pass

In [ ]:
# Test case
cart = {"fruits": [("apple", 2, 0.5)], "beverages": []}
add_to_cart(cart, "fruits", "banana", 5, 0.3)
print(cart) # Should return {"fruits": [("apple", 2, 0.5), ("banana", 5, 0.3)], "beverages": []}

### Exercise 3: Data Transformation
Write a function named average_grade that takes a dictionary with student names as keys and lists of grades as values and returns a list of tuples with each student's name and their average grade.

In [ ]:
def average_grade(grades):
    # Your code here
    pass

In [ ]:

# Test case
grades = {"Alice": [88, 76, 92], "Bob": [70, 80, 68]}
print(average_grade(grades)) # Should return [('Alice', 85.33333333333333), ('Bob', 72.66666666666667)]

## Exercise 4: Merge Two Dictionaries
Create a function merge_dicts that takes two dictionaries and merges them into one. If there are overlapping keys, the values from the second dictionary should overwrite those from the first.

In [ ]:
def merge_dicts(dict1, dict2):
    # Your code here
    pass

# Test Cases
assert merge_dicts({'a': 1, 'b': 2}, {'b': 3, 'c': 4}) == {'a': 1, 'b': 3, 'c': 4}, 'Test case 1 failed!'
assert merge_dicts({}, {'x': 10}) == {'x': 10}, 'Test case 2 failed!'
print('All test cases passed!')

## Exercise 5: Filter Records by Threshold
Write a function `filter_records_by_value` that takes a list of dictionaries, the name of a numeric field, and a minimum value. Return a new list containing only the records where the field's value is greater than or equal to the minimum. Use a `for` loop to build the filtered list.

In [ ]:
def filter_records_by_value(records, field, minimum):
    # Your code here
    pass

In [ ]:
sample_records = [
    {'city': 'Graz', 'temperature': 18.5},
    {'city': 'Vienna', 'temperature': 21.0},
    {'city': 'Linz', 'temperature': 16.2},
]
filtered = filter_records_by_value(sample_records, 'temperature', 18)
assert filtered == [
    {'city': 'Graz', 'temperature': 18.5},
    {'city': 'Vienna', 'temperature': 21.0}
], 'Test case failed!'
print('Test case passed!')

## Exercise 6: Group Records by Category
Write a function `group_by_field` that takes a list of dictionaries and a field name. Return a dictionary where each key is a unique field value and the value is a list of records that share it. Use a `for` loop to populate the groups.

In [ ]:
def group_by_field(records, field):
    # Your code here
    pass

In [ ]:
records = [
    {'department': 'IT', 'employee': 'Alice'},
    {'department': 'HR', 'employee': 'Bob'},
    {'department': 'IT', 'employee': 'Charlie'}
]
expected = {
    'IT': [
        {'department': 'IT', 'employee': 'Alice'},
        {'department': 'IT', 'employee': 'Charlie'}
    ],
    'HR': [
        {'department': 'HR', 'employee': 'Bob'}
    ]
}
assert group_by_field(records, 'department') == expected, 'Test case failed!'
print('Test case passed!')

# Level 2 - Numpy, Scipy, Pandas & Plotly

---

In [ ]:
!wget https://spataru.at/campus02/DataScience_salaries_2024.csv

In [ ]:
import pandas as pd
import plotly.express as px
import numpy as np

In [ ]:
df = pd.read_csv("DataScience_salaries_2024.csv")

	Easy Questions
    
	1.How many unique job titles are there in the dataset?
	2.	What are the most common experience levels?
	3.	What is the total number of records for each employment type?
	4.	What is the average salary in USD for the dataset?
	5.	List the unique company sizes in the dataset.
	6.	What is the maximum and minimum salary in USD?
	7.	How many records are there for each remote work ratio (0%, 50%, 100%)?
	8.	How many records were there for each year?
	9.	Find the average salary in USD for each job title.
	10.	What is the total count of employees in each country (employee residence)?

	Hard Questions
    1.	What is the average salary in USD for each experience level?
	2.	Which job titles have the highest and lowest average salaries in USD?
	3.	How does the average salary in USD vary by employment type and remote ratio?
	4.	What is the trend of average salary over the years?
	5.	What is the distribution of salaries in USD for different company sizes?
	6.	Which country has the highest average salary in USD?
	7.	How does remote work influence the salary distribution?
	8.	What is the most common job title for each company size?
	9.	How does employee residence impact the average salary in USD?