# Load Libraries & Data

In [1]:
!wget https://www.spataru.at/students/course_files/week2/adult_rev2.csv

--2024-11-25 12:29:25--  https://www.spataru.at/students/course_files/week2/adult_rev2.csv
Resolving www.spataru.at (www.spataru.at)... 81.19.159.92
Connecting to www.spataru.at (www.spataru.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3595716 (3.4M) [text/csv]
Saving to: ‘adult_rev2.csv’

adult_rev2.csv      100%[===================>]   3.43M  3.72MB/s    in 0.9s

2024-11-25 12:29:27 (3.72 MB/s) - ‘adult_rev2.csv’ saved [3595716/3595716]

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap

**Load the data in a variable named df**

Tip: pd.read_csv()




The file path is "adult_rev2.csv"

In [54]:
df = pd.read_csv("adult_rev2.csv")

In [55]:
df.head()

,social_number,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,717703,90,NaN,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,931778,82,Private,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,176143,66,NaN,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,953541,54,Private,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,523037,41,Private,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

**How many rows and columns does the data have?**

df.shape > (rows,columns)

In [56]:
df.columns

Index(['social_number', 'age', 'workclass', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [57]:
a = 2
a = "dsf"

In [58]:
df.shape

(32761, 15)

In [59]:
df.social_number.head()

0    717703
1    931778
2    176143
3    953541
4    523037
Name: social_number, dtype: int64

In [60]:
df.

SyntaxError: invalid syntax (<ipython-input-60-38e9e33c87a8>, line 1)

In [61]:
df["social_number"]

0        717703
1        931778
2        176143
3        953541
4        523037
          ...
32756    784815
32757    611569
32758    967042
32759    991969
32760    868456
Name: social_number, Length: 32761, dtype: int64

**Show the first 5 rows of the data**

# Data Cleaning

**Drop the duplicates in the data**

Note: replace the current df (dataframe) with the clean df

In [62]:
df.shape

(32761, 15)

In [63]:
df = df.drop_duplicates()

In [64]:
df.shape

(32589, 15)

**How many rows are left?**

In [65]:
df.shape

(32589, 15)

**How many values are there in missing in the column workclass?**

In [66]:
sum([True, False, True, False])

2

In [67]:
df.workclass.isna().sum()

1837

**Drop all missing values**

Note: replace the current df (dataframe) with the clean df

In [68]:
df = df.dropna()

**How many rows are left?**

In [69]:
df.shape

(30189, 15)

**Is the income column inconsistent? Then fix it**

In [70]:
df.income.value_counts()

income
<=50K            21521
>50K              5871
less than 50k     1144
more than 50k      923
over 50k           730
Name: count, dtype: int64

In [71]:
df.loc[df["income"] == "less than 50k", "income"] = "<=50K"

In [73]:
df.loc[df["income"] == "more than 50k", "income"] = ">50K"

In [74]:
df.loc[df["income"] == "over 50k", "income"] = ">50K"

In [75]:
df.income.value_counts()

income
<=50K    22665
>50K      7524
Name: count, dtype: int64

**Drop social number. How many column are there left?**

Note: Replace the old dataframe with the new clean one

In [76]:
df.head()

,social_number,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
1,931778,82,Private,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,953541,54,Private,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,523037,41,Private,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,970285,34,Private,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,642439,38,Private,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

In [79]:
df = df.drop("social_number", axis=1)

In [81]:
df.income.value_counts()

income
<=50K    22665
>50K      7524
Name: count, dtype: int64

In [80]:
df.shape

(30189, 14)

# Exploratory Data Analysis

## Univariate

**Describe Age**

**Determine the mean of the column "hours.per.week"**

**What is the diference between mean and median on capital gain?**

**How many unique workclasses?**

**How many different types of education are there?**

**How many people are divorced?**

**Histogram Age**

**Create a countplot for martial status**

## Bivariate Analysis

**How many Salesperson make a capital gain of over 80000?**

**How many rows have a capital loss and capital gain bigger than 0?**

**Answer: 1**

**Create a feature which combines capital_loss and capital_gain**

**What is the mean capital?**

**What is the median capital?**

**How many people have a capital of 0?**

**What is the percentage of people which make a capital gain of over 10000?**

**What is the occupation of the biggest capital loss?** Q

Tip: Use min() or max()

**What is the ratio between <=50K income and >50K?**

**How many people with a income >50K have a
capital loss?**

**How manydivorced people with a income >50K have a capital gain?**

**Do a scatter plot between age and capital**

**This look unreadable. Calculate the average capital by age**

**Calculate the correlation on the whole dataframe**

**Do men make more money than women?**